body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background :linear-gradient(to bottom, #03001b 62%, #6666ff 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#header{
    margin: 5px;
    border-radius: 5px;
    height: 10vh;
    width: 99%;
    float: left;
}

/* The Navigation Bar*/

#nav {
      
    overflow: hidden;
    background-color:rgb(rgb(37, 150, 190));
    width: 100%;
    padding: 1px;
    
}

#nav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 32px;
    text-decoration: none; 
    font-size: 20px;
}

#nav a:hover {
  color: #fff;
  text-shadow:
  0 0 7px #6666ff,
  0 0 10px #6666ff,
  0 0 21px #6666ff,
  0 0 42px #fff,
  0 0 82px #fff,
  0 0 92px #fff,
  0 0 102px #fff,
  0 0 151px ;
}

#nav a.active {
    background-color: #04AA6D;
    color: white;
}
  #title{
      width: 90%;
      color: rgb(255, 255, 255);
      position: absolute;
      top: 17%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
  }

  #title h1{
      font-size: 50px;
      letter-spacing: 5px;
      text-align: center;
      justify-content: center;
      background: -webkit-linear-gradient(#4d84d6, #03001bbc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  form {
      width: auto;
      height: auto;
      color: #c1ddfa;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%,-50%);
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

  }
  .expos:hover{
      color: #03001b;
  }
  fieldset{
      background-color: rgba(188, 188, 250, 0.268);
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      font-size: 30px;
      border-spacing: 100px;
  }
  .expos:hover{
      color: #03001b;
  }

  .submit{
      background: linear-gradient(to top , #03001b 62%, #6666ff 100%);
      color: #fff;
      height: 45px;
      width: 60px;
      border-radius: 10px;
      font-size: 35px;
      
  }

  .submit:hover{
      background: linear-gradient(to bottom, #03001b 62%, #6666ff 100%);
      color: linear-gradient(to left, #03001b 62%, #6666ff 100%);
  text-shadow:
  0 0 7px #6666ff,
  0 0 10px #6666ff,
  0 0 21px #6666ff,
  0 0 42px #fff,
  0 0 82px #fff,
  0 0 92px #fff,
  0 0 102px #fff,
  0 0 151px ;
  }
  .slider-container {
  display: none;
}
  #slider-1 {
position: relative;
display: block;
text-align: center;
font-size: 6em;
color: #999;
font-weight: 400;
}
.range {
width: 400px;
height: 15px;
-webkit-appearance: none;
background: #111;
outline: none;
border-radius: 15px;
overflow: hidden;
box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
-webkit-appearance: none;
width: 5px;
height: 5px;
border-radius: 50%;
background: #c1ddfa;
cursor: pointer;
border: 4px solid #333;
box-shadow: -407px 0 0 400px #6666ff;
}
.selection{
color: #03001b;
}