body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("background\ right.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header{
    margin: 5px;
    border-radius: 5px;
    height: 10vh;
    width: 99%;
    float: left;
}

/* The Navigation Bar*/

#nav {
			
    overflow: hidden;
    background-color:rgb(rgb(37, 150, 190));
    width: 100%;
    padding: 1px;
    
}

#nav a {
    font-family: "Roboto", sans-serif;
    float: right;
    display: block;
    color: #f2f2f2;
    /* text-align: center; */
    margin-right: 20px;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
}

#nav a:hover {
    transition: background-color 1s ease 0s;
    color: rgb(45, 60, 197);
    transform: scale(1.1);
}

#nav a.active {
    background-color: #04AA6D;
    color: white;
}

#button1{
    background-color: rgb(10,21,37);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left:43%;
    top: 300px;
}

#button1:hover{
    transition: background-color 1s ease 0s;
    color: rgb(45, 60, 197);
    transform: scale(1.1);
}

#button2{
    background-color: rgb(10,21,37);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left:43%;
    top: 375px;
}

#button2:hover{
    transition: background-color 1s ease 0s;
    color: rgb(45, 60, 197);
    transform: scale(1.1);
}