body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("Home page background.png");
    background-size: 100%;
}

#header{
    margin: 5px;
    border-radius: 5px;
    height: 10vh;
    width: 99%;
    float: left;
}

/* The Navigation Bar*/

#nav {
			
    overflow: hidden;
    background-color:rgb(rgb(37, 150, 190));
    width: 100%;
    padding: 1px;
    
}

#nav a {
    float: right;
    display: block;
    color: #f2f2f2;
    /* text-align: center; */
    margin-right: 20px;
    padding: 20px;
    text-decoration: none; 
    font-size: 18px;
    font-family: Arial;
}

#nav a:hover {
    /* background-color: #0d023d00; */
    transition: background-color 1s ease 0s;
    color: rgb(45, 60, 197);
    transform: scale(1.1)
}

#nav a.active {
    background-color: #04AA6D;
    color: white;
}

.image{
    margin: topS;
}
.homeimage {
    float: right;
    width: 25%;
    /* border: solid 1px; */
    border-color:rgb(rgb(37, 150, 190));
    margin-top: 15%;
    margin-right: 10%;
}
