body {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #03001b 62%, #6666ff 100%);
  font-weight: 300;
  background-size: cover;
  background-position: center;
}

/* .all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
} */

.title {
  width: 90%;

  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title h1 {
  font-family: "Golos Text", sans-serif;
  font-size: 80px;
  letter-spacing: 5px;
  text-align: center;
  justify-content: center;
  background: -webkit-linear-gradient(#4d84d6, #03001bbc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .text {
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.3s ease;
  bottom: 0;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
} */

.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
