body{
    background-image: url('background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }
    
h1{
    font-family: sans-serif;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 30px;
}
#container{
    background-color: white;
    margin-top: 100px;
    width: 300px;
    height: 150px;
    border-radius: 25px;
}
#header{
    text-align: center;
}

#content{
    padding-top:30px;
    color: rgb(71, 71, 71);
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
}
